<%- include('./elements/header-title.ejs') %>
Re-verify your email after changed
<%- include('./elements/title-content.ejs') %>
Hi <%= name %>!<br />
Your email address has just been changed. So you need to re-verify your email address by clicking this <a href="<%= url %>">link</a>.<br />
<br />
The link will expire after <b>3 hours</b>.
<%- include('./elements/content-end.ejs') %>

