<%- include('./elements/header-title.ejs') %>
Verify your email
<%- include('./elements/title-content.ejs') %>
Hi <%= name %>!<br />
Your account on @thilaptrinh system has not been verified, to verify it, please click this <a href="<%= url %>">link</a>.
<br />
This link will expire after <b>3 hours</b>.
<%- include('./elements/content-end.ejs') %>

