<%- include('./elements/header-title.ejs') %>
Reset your password
<%- include('./elements/title-content.ejs') %>
Hi <%= name %>, please access to this <a href="<%= url %>">link</a> to reset your password.<br />
<br />
This link will be expired after <b>3 hours</b>.
<%- include('./elements/content-end.ejs') %>

